<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.cn.mapper.MessagesMapper">
	<insert id="addMessages" parameterType="com.ibm.cn.model.Messages">
		INSERT INTO studentinformationtable(stuID,stuName,stuBirth,stuSex,stuTel,stuClass,stuDep,stuAddTimed,stuImgUrl) VALUES (#{stuID},#{stuName},#{stuBirth},#{stuSex},#{stuTel},#{stuClass},#{stuDep},#{stuAddTimed},#{stuImgUrl});
	</insert>
	
	<select id="getAllMessages" resultType="com.ibm.cn.model.Messages">
		SELECT * FROM studentinformationtable
	</select>
	
	<select id="getMessagesById" parameterType="com.ibm.cn.model.Messages"
		resultType="com.ibm.cn.model.Messages">
		SELECT * FROM studentinformationtable WHERE stuID=#{stuID}
	</select>
	
	<select id="getMessagesByName" parameterType="com.ibm.cn.model.Messages"
		resultType="com.ibm.cn.model.Messages">
		SELECT * FROM studentinformationtable WHERE stuName=#{stuName}
	</select>
	
	<delete id="deleteMessagesById" parameterType="String">
		DELETE FROM studentinformationtable WHERE stuID=#{stuID}
	</delete>
	
	<delete id="deleteMessagesByName" parameterType="String">
		DELETE FROM studentinformationtable WHERE stuName=#{stuName}
	</delete>
	
	<update id="updateMessagesByName"
		parameterType="com.ibm.cn.model.Messages">
		UPDATE studentinformationtable SET stuID=#{stuID},stuName=#{stuName},stuBirth=#{stuBirth},stuSex=#{stuSex},stuTel=#{stuTel},stuClass=#{stuClass},stuDep=#{stuDep},stuAddTimed=#{stuAddTimed},stuImgUrl=#{stuImgUrl}
		WHERE stuName=#{stuName}
	</update>
	
	<update id="updateMessagesById"
		parameterType="com.ibm.cn.model.Messages">
		UPDATE studentinformationtable SET stuID=#{stuID},stuName=#{stuName},stuBirth=#{stuBirth},stuSex=#{stuSex},stuTel=#{stuTel},stuClass=#{stuClass},stuDep=#{stuDep},stuAddTimed=#{stuAddTimed},stuImgUrl=#{stuImgUrl}
		WHERE stuID=#{stuID}
	</update>
	
	<select id="getByStuID" parameterType="String"
		resultType="com.ibm.cn.model.Messages">
		SELECT * FROM  studentinformationtable WHERE stuID=#{stuID}
	</select>
	
	<select id="SelectByStuName" resultType="com.ibm.cn.model.Messages"  parameterType="com.ibm.cn.model.Messages">
		select * from studentinformationtable where stuName like concat('%' ,#{stuName},'%') 
	</select>
	
	<select id="SelectByStuClass" resultType="com.ibm.cn.model.Messages"  parameterType="com.ibm.cn.model.Messages">
		SELECT * FROM  studentinformationtable WHERE stuClass=#{stuClass}
	</select>
	
	<select id="SelectByStuDep" resultType="com.ibm.cn.model.Messages"  parameterType="com.ibm.cn.model.Messages">
		SELECT * FROM  studentinformationtable WHERE stuDep=#{stuDep}
	</select>
	
	<select id="SelectByStuSex" resultType="com.ibm.cn.model.Messages"  parameterType="String">
		SELECT * FROM  studentinformationtable WHERE stuSex=#{stuSex}
	</select>
	
	<select id="getCountBySex" resultType="com.ibm.cn.model.Sex">
		select stuSex sex,Count(stuSex) count from studentinformationtable where stuSex in(select distinct stuSex from studentinformationtable) group by stuSex
	</select>
	
	<select id="SelectByStuAll"  parameterType="com.ibm.cn.model.Messages"  resultType="com.ibm.cn.model.Messages"  >
  select * from studentinformationtable 
   WHERE stuID like concat('%' ,#{stuID},'%') 
       or stuName like concat('%' ,#{stuName},'%') 
      or stuBirth like concat('%' ,#{stuBirth},'%')
      or stuSex like concat('%' ,#{stuSex},'%')
      or stuTel like concat('%' ,#{stuTel},'%')
      or stuClass like concat('%' ,#{stuClass},'%')
      or stuDep like concat('%' ,#{stuDep},'%')
 </select> 
	
<select id="SelectMessagesByStuAll"  parameterType="com.ibm.cn.model.Messages"  resultType="com.ibm.cn.model.Messages"  >	
	select * from studentinformationtable 
 	 WHERE 1=1
 	  <if test="stuID != null and stuID != ''">
            and stuID like concat('%' ,#{stuID},'%') 
      </if>
 	 <if test="stuName != null and stuName != ''">
            and stuName like concat('%' ,#{stuName},'%') 
      </if>
       <if test="stuBirth != null and stuBirth != ''">
            and stuBirth like concat('%' ,#{stuBirth},'%')
      </if>
 	 <if test="stuSex != null and stuSex != ''">
            and stuSex like concat('%' ,#{stuSex},'%')
      </if>
       <if test="stuTel != null and stuTel != ''">
            and stuTel like concat('%' ,#{stuTel},'%') 
      </if>
       <if test="stuClass != null and stuClass != ''">
            and stuClass like concat('%' ,#{stuClass},'%')
      </if>
 	 <if test="stuDep != null and stuDep != ''">
            and stuDep like concat('%' ,#{stuDep},'%')
      </if>

	 </select> 
	
	
 <select id="CountByStuSex"  
  resultType="com.ibm.cn.model.Messages">
  SELECT Count(*) as totalSex ,stuSex  FROM  studentinformationtable GROUP BY stuSex
 </select>
    
    <select id="CountByStuDep"  
  resultType="com.ibm.cn.model.Messages">
  SELECT Count(*) as totalDep,stuDep FROM  studentinformationtable GROUP BY stuDep
 </select>
    
    
 <select id="CountByStuClass"  
  resultType="com.ibm.cn.model.Messages">
  SELECT  Count(*) as   totalClass , stuClass  FROM  studentinformationtable GROUP BY stuClass
 </select>
</mapper>