<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.cn.mapper.StudentMapper">
	<insert id="addUser" parameterType="com.ibm.cn.model.Student">
		INSERT INTO usertable(ID,Name,Tel,Password) VALUES (#{id},#{name},#{tel},#{password})
	</insert>
	
	<delete id="deleteUserById" parameterType="int">
		DELETE FROM student WHERE id=#{id}
	</delete>
	<select id="countstudent" parameterType="String">
		select count(stuClass) from studentinformationtable where stuClass=#{stuclass};
	</select>
	<update id="updateUserById"
		parameterType="com.ibm.cn.model.Student">
		UPDATE student SET name=#{name},password=#{password}
		WHERE id=#{id}
	</update>

	<select id="getUserById" parameterType="String"
		resultType="com.ibm.cn.model.Student">
		SELECT * FROM usertable WHERE Id=#{id}
	</select>
	<select id="getUserByName" parameterType="String"
		resultType="com.ibm.cn.model.Student">
		SELECT * FROM usertable WHERE Name=#{name}
	</select>
	<update id="updateUserByName"
		parameterType="com.ibm.cn.model.Student">
		UPDATE usertable SET password=#{password}
		WHERE name=#{name},password=#{password}
	</update>
	<select id="getAllUsers" resultType="com.ibm.cn.model.Student">
		SELECT * FROM usertable
	</select>

	<select id="queryUsersBySql" parameterType="map"
		resultType="com.ibm.cn.model.Student">
		select * from student limit #{currIndex} , #{pageSize}
	</select>

 	<update id="updateUser"
  		parameterType="com.ibm.cn.model.Student">
  		UPDATE usertable SET password=#{password}
 		 WHERE id=#{id}
 	</update>

</mapper>